  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>WHAT WE, OPSLAB ARE?</h2>
              <p><span style="font-size: 18pt;"><strong>OPSLAB</strong> is a global IT services company specialized in digital transformation for enterprises and managing infrastructure.The team has deep expertise and profound experience in the modern technologies such as cloud computing, enterprise mobility, big data and enterprise collaboration.</span>
              </p>
              <br>
              <p><span style="font-size: 18pt;">We work in<strong> DevOps, CloudOps, Containerization</strong> and <strong>Log Analytics</strong>. We help companies to grow their business by adopting right <strong>Development and Operations stratgies</strong>.
              </span>
              </p>
              <a href="http://opslab.space/devops" class="btn btn-default btn-xl wow tada">Call DevOps</a>
          </div>
      </div>
  </aside>
