<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Feel free to contact us and discuss service details. <br>We are based in Yangon, Myanmar.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://facebook.com/{{ site.twitter_username }}">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Opslab</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="tel:+959425016488">
            <i class="fa fa-phone-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="http://opslab.space">
            <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>opslab</p>
            </a>
        </div>

    </div>
</section>
<div class="container">
    <footer id="footer" class="text-center">
        <p class="copyright">&copy; 2017 <a href="http://opslab.space">opslab.space</a>.</p>
    </footer>
</div>
