<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>P R O L O G</h1>
            <hr>
            <p>PROLOG SOLUTION CAN BE MONITORS, AGGREGATES, INDEXES, AND ANALYZES ALL LOG DATA FROM YOUR APPLICATIONS AND INFRASTRUCTURE – ENABLING USERS TO SEARCH, EXPLORE, AND CORRELATE THIS DATA TO TROUBLESHOOT PROBLEMS FASTER, DERIVE OPERATIONAL INSIGHT, AND MAKE BETTER DECISIONS.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
