<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary"></i>
                    <h3>ELK as a Service</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-7 align-right">
                <div class="service-box">
                    <p class="text-muted">
                        <ul>
                            <li>All your logs accessible in one place. Team support.</li>
                            <li>Hassle-free managed ELK you don’t need to maintain and scale</li>
                            <li>Use built-in Kibana or Grafana with <b>Prolog</b></li>
                            <li>Inspect your logs via UI or Elasticsearch API</li>
                            <li>Nothing to install – use any log shipper you want</li>
                            <li>Get <b>Prolog</b> On Premises!</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Alerting &amp; ChatOps</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-7 align-right">
                <div class="service-box">
                    <p class="text-muted">
                        <ul>
                            <li>Convert any query to an Alert</li>
                            <li>Get notified via email, ChatOps, or WebHooks</li>
                            <li>Built-in integrations for PagerDuty, Slack and HipChat</li>
                            <li>Send Alerts events to any WebHook</li>
                            <li>Alert on any metric and any filter combination</li>
                            <li>Pass custom HTTP parameters and headers to WebHooks</li>
                        </ul>
                    </p>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ship wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Log Shipping</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-7 align-right">
                <div class="service-box">
                    <p class="text-muted">
                        <ul>
                            <li>Works with all standard logging facilities and agents (syslog, Logstash, Filebeat…)</li>
                            <li>Ship logs via syslog (rsyslog, syslog-ng, syslogd…)</li>
                            <li>Ship logs from apps via Log4j, Logback, Log4j 2, Log4net, winston-logsene, Python SyslogHandler…</li>
                            <li>Wide language support – Java, PHP, Perl, GoLang, Python, .Net, Ruby, JavaScript</li>
                            <li>Ship with <em>anything</em> that can talk to Elasticsearch or syslog</li>
                        </ul>  
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Integrations</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-7 align-right">
                <div class="service-box">
                    <p class="text-muted">
                        <ul>
                            <li>Get started in minutes with out-of-the-box dashboards, alerts and anomaly detection rules</li>
                            <li>Slice and dice by a number of context-aware filters</li>
                            <li>Zabbix, Solr &amp; SolrCloud, Elasticsearch, Spark, Kafka, HBase, MongoDB, Hadoop MapReduce, HDFS, YARN, Docker, Node.js, Express, Apache, Nginx (Plus), HAProxy, Redis, Memcached, MySQL, MariaDB, AWS EC2 ELB EBS RDS…</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
